# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables and output files
*.exe
*.out
*.map

# Backups and temporary files
*~
*.gch
